.bg-rbb-blue{
    background-color: $rbbBlud;
    color: white;
}
th, td {
    padding: 2px 5px!important;
}
.table-responsive {
    overflow-x: visible !important;
    overflow-y: visible !important;
}
.nav-link{
    color: white!important;
}
.nav-item:hover{
    color: blue;
}
