<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        {{ updateMode ? 'Update Class': 'Add Class'}}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="select-class1">Class:</label>
                            <select v-model="meeting.class" @change="changeSelectedSection" name="class"
                                    id="select-class1"
                                    :class="errors.class ? 'form-control is-invalid': 'form-control'"
                            >
                                <option value="">---Please Select Class---</option>
                                <option
                                    v-for="cls in classes"
                                    :value="cls.id"
                                    v-text="cls.name"
                                ></option>
                            </select>
                            <div class="invalid-feedback" v-text="errors.class ? errors.class[0] : ''">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select-section1">&nbsp;&nbsp;Section:&nbsp;&nbsp; </label>
                            <select v-model="meeting.section" name="section" id="select-section1"
                                    :class="errors.section ? 'form-control is-invalid': 'form-control'"
                            >
                                <option value="">---Please Select Section---</option>
                                <option
                                    v-for="sec in sections"
                                    :value="sec.id"
                                    v-text="sec.name"
                                ></option>
                            </select>
                            <div class="invalid-feedback" v-text="errors.section ? errors.section[0] : ''">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meeting_id">Meeting ID</label>
                            <input v-model="meeting.meeting_id" type="text" name="meeting_id" id="meeting_id"
                                   :class="errors.meeting_id ? 'form-control is-invalid': 'form-control'"/>
                            <div class="invalid-feedback" v-text="errors.meeting_id ? errors.meeting_id[0] : ''">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meeting_password">Meeting Password</label>
                            <input v-model="meeting.meeting_password" type="text" name="meeting_password"
                                   id="meeting_password"
                                   :class="errors.meeting_password ? 'form-control is-invalid': 'form-control'"/>
                            <div class="invalid-feedback"
                                 v-text="errors.meeting_password ? errors.meeting_password[0] : ''">
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" v-if="updateMode" @click="updateMeeting">
                            <i class="fa fa-save"></i>
                            {{ saving ? 'Please Wait...': 'Update'}}
                        </button>
                        <button class="btn btn-danger btn-block" @click="cancelUpdate" v-if="updateMode">
                            <i class="fa fa-arrow-left"></i>
                            Cancel
                        </button>
                        <button class="btn btn-primary btn-block" @click="storeMeeting" v-else>
                            <i class="fa fa-save"></i>
                            {{ saving ? 'Please Wait...': 'Submit'}}
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Active Meetings
                    </div>
                    <table class="table">
                        <tr>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Meeting Id</th>
                            <th>Meeting Password</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <tr v-for="meeting in meetings">
                            <td v-text="meeting.school_class.name"></td>
                            <td v-text="meeting.school_section.name"></td>
                            <td v-text="meeting.meeting_id"></td>
                            <td v-text="meeting.meeting_password"></td>
                            <td>
                                <a href="#"
                                   @click="toggleStatus(meeting.id)"
                                   :class="meeting.status ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-secondary'">
                                    {{ meeting.status ? 'Running' : 'Disabled' }}
                                </a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button
                                        @click="edit(meeting)"
                                        class="btn btn-sm btn-primary">
                                        <i class="fa fa-edit"></i>
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                            @click="deleteMeeting(meeting.id)">
                                        <i class="fa fa-trash"></i>
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                classes: [],
                sections: [],
                meetings: [],
                meeting: {},
                saving: false,
                updateMode: false,
                errors: []
            }
        },
        mounted() {
            this.getClasses();
            this.getMeetings();
        },
        methods: {
            getClasses() {
                axios.get('/api/get-classes').then(res => {
                    this.classes = res.data;
                })
            },
            getSections(classId) {
                axios.get('/api/get-sections/' + classId).then(res => {
                    this.sections = res.data;
                })
            },
            changeSelectedSection(event) {
                this.getSections(event.target.value)
            },
            getMeetings() {
                axios.get('/admin/o-class').then(res => {
                    this.meetings = res.data;
                })
            },
            storeMeeting() {
                this.saving = true;
                axios({
                    url: 'o-class',
                    method: 'post',
                    data: this.meeting
                })
                    .then(res => {
                        this.$bvToast.toast('Successfully Save', {
                            title: 'Success',
                            variant: 'primary',
                            solid: true
                        })
                        this.saving = false;
                        this.meeting = {}
                        this.errors = {}
                        this.getMeetings();
                    }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                    this.saving = false;
                })
            },
            toggleStatus(id) {
                axios.get('meeting/active-toggle/' + id).then(res => {
                    this.getMeetings();
                })
            },
            edit(meeting) {
                this.updateMode = true;
                this.getSections(meeting.class);
                this.meeting = meeting;
            },
            cancelUpdate() {
                this.updateMode = false;
                this.meeting = {};
            },
            deleteMeeting(id) {
                this.$bvModal.msgBoxConfirm('Please confirm that you want to delete meeting.', {
                    title: 'Please Confirm',
                    size: 'sm',
                    buttonSize: 'sm',
                    okVariant: 'danger',
                    okTitle: 'YES',
                    cancelTitle: 'NO',
                    footerClass: 'p-2',
                    hideHeaderClose: false,
                    centered: true
                })
                    .then(value => {
                        if(value){
                            axios({
                                url: 'o-class/' + id,
                                method: 'delete',
                            })
                                .then(res => {
                                    this.$bvToast.toast('Successfully Deleted', {
                                        title: 'Success',
                                        variant: 'primary',
                                        solid: true
                                    })
                                    this.getMeetings();
                                }).catch(error => {
                            })
                        }
                    })
                    .catch(err => {
                        // An error occurred
                    })
            },
            updateMeeting(id) {
                this.saving = true;
                axios({
                    url: 'o-class/' + this.meeting.id,
                    method: 'patch',
                    data: this.meeting
                })
                    .then(res => {
                        this.$bvToast.toast('Successfully Updated', {
                            title: 'Success',
                            variant: 'primary',
                            solid: true
                        })
                        this.saving = false;
                        this.updateMode = false;
                        this.meeting = {}
                        this.errors = {}
                        this.getMeetings();
                    }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                    this.saving = false;
                })
            }
        }
    }
</script>
